<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Epic Task - cadastrar</title>
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
    >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="container">

    <h1 class="tittle">Cadastrar Tarefa</h1>
<form action="/task" method="post" class="is-max-tablet" th:object="${task}">
    <div class="field">
        <label class="label">Título</label>
        <div class="control">
            <input class="input" type="text" placeholder="título da tarefa" th:field="*{title}">
        </div>
    </div>
    <p class="help is-danger" th:errors="*{title}"></p>
    <div class="field">
        <label class="label">Descrição</label>
        <div class="control">
            <input class="input" type="text" placeholder="descrição da tarefa" th:field="*{description}">
        </div>
    </div>
    <p class="help is-danger" th:errors="*{description}"></p>
    <div class="field">
        <label class="label">Pontos</label>
        <div class="control">
            <input class="input" type="number" placeholder="Pontuação da tarefa" min="1" th:field="*{score}" >
        </div>
    </div>
    <p class="help is-danger" th:errors="*{score}"></p>
    <button class="button is-primary">
        <span>Cadastrar</span>
        <span class="icon is-small">
              <i class="fas fa-check"></i>
        </span>
    </button>
    <a href="/" class="button is-default">
        <span>Cancelar</span>
        <span class="icon is-small">
              <i class="fas fa-arrow-left"></i>
        </span>
    </a>
</form>

</body>
</html>